<section class="products">
  <div class="container">
    <h2 class="products-title" id="products-title">Описание пиццы</h2>
    <div class="product-item">
      <a class="product-image" *ngIf="product.image; else defaultInputBlock">
        <img src="{{product.image}}">
      </a>
      <ng-template #defaultInputBlock>
        <a class="product-image">
          <img src="assets/images/pizzzzza.png">
        </a>
      </ng-template>

      <custom-title [title]="product.title | uppercase" #customTitle>
      </custom-title>
      <div class="product-text">{{product.description}}</div>
      <div class="product-action" #elem>
        <a class="btn btn-add-to-cart" routerLink="/order" [queryParams]="{product: product.title}">В корзину</a>

      </div>
    </div>
  </div>
</section>

